{% extends "game/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h3>{{ games.count }} Finished Game{{ games.count|pluralize }}</h3>
        </div>
    </div>
    
    {% if games %}    
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <div class="list-group">
                {% for game in games %}
                    <a href="{% url 'view_game' game.id %}" class="list-group-item list-group-item-action"><b>Game finished on: </b> {{ game.finished | date:'M j Y H:i' }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h4>Looks like you don't have any finished game!</h4>
        </div>
    </div>    
    {% endif %}
{% endblock %}
